/*simple animation*/
button, label, input[type="text"], input[type="checkbox"], input[type="radio"], select, textarea{
  opacity: 0;
}
button#btnaction_credits{
  opacity: 1 !important;
}
.applycss{
  /*label*/
  animation-name: bounceIn;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 400ms;
  animation-delay: 2s;
}
/*label*/
@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
    /*transform: scale(0.89);*/
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
